#requirements.txt
fastapi
uvicorn
langchain
langchain-community
langchain-unstructured
sentence-transformers
transformers
python-dotenv
pymupdf
python-docx
gitpython
python-multipart
unstructured
unstructured[pdf]
python-magic
pydantic
qdrant-client
langchain-qdrant
langchain-mistralai